<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            ngModel
            #title = "ngModel"
            name="title"
          />
          <span class="help-block" *ngIf="!title.valid&& title.touched">Please Enter a Valid title!</span>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            class="form-control"
            id="content"
            required
            ngModel
            name="content"
            #content = "ngModel"
          ></textarea>
          <span class="help-block" *ngIf="!content.valid&& content.touched">Please fill in the content</span>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!postForm.valid"
        >
          Send Post
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchPosts()">
        Fetch Posts
      </button>
      
      <button
        class="btn btn-danger"
        [disabled]="loadedPosts.length < 1"
        (click)="onClearPosts()"
      >
        Clear Posts
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf = "loadedPosts.length < 1 && !isFetching">No posts available!</p>
      <ul class="list-group" *ngIf= "loadedPosts.length >= 1 && !isFetching">
        <li class="list-group-item" *ngFor="let post of loadedPosts | sort">
        <h3>{{post.title}}</h3>
        <p>{{post.content}}</p>
        </li>
      </ul>

      <p *ngIf="isFetching && !error">..Loading</p>
      <div class="alert alert-danger" *ngIf="error">
        <h3>An Error occured</h3>
        {{error}}
        <button class="btn btn-danger" (click) ="onHandleError()">Ok</button>
      </div>
      
      
    </div>
  </div>
</div>
